.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: slategray;
  color: white;
  padding: 1.2em;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    align-items: center;
    margin-bottom: 10vw;
}

.header::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: inherit;
  top: -5vmin;
  height: 10vw;
  width: 120vw;
  transform-origin: 100% 100%;
  transform: rotate(-4deg);
}

.container {
  width: 720px;
  max-width: 80%;
  text-align: left;
}

.center-text {
  text-align:center
}

a {
  color: #61dafb;
}